In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, export_graphviz 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets
from IPython.display import Image  
from sklearn import tree
import pydotplus
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [2]:
# import data
df_features = pd.read_csv('x_train_gr_smpl.csv') #read features csv as dataframe
df_classes = pd.read_csv('y_train_smpl.csv') #read classes csv as dataframe
df_classes.columns = ['class'] #rename classes header to 'class'
df_concat = pd.concat([df_features,df_classes],axis=1) #concatinate features dataframe with class dataframe column
df_concat.head(10)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,class
0,30.0,29.0,28.0,29.0,31.0,30.0,29.0,28.0,27.0,26.0,...,32.0,35.0,38.0,39.0,39.0,40.0,39.0,39.0,38.0,0
1,31.0,31.0,33.0,32.0,31.0,30.0,29.0,28.0,28.0,28.0,...,34.0,35.0,36.0,36.0,37.0,38.0,38.0,37.0,37.0,0
2,30.0,30.0,31.0,29.0,28.0,27.0,26.0,28.0,30.0,31.0,...,35.0,37.0,37.0,38.0,39.0,38.0,38.0,39.0,40.0,0
3,26.0,25.0,24.0,24.0,24.0,27.0,28.0,29.0,29.0,30.0,...,34.0,36.0,37.0,38.0,42.0,40.0,37.0,36.0,36.0,0
4,25.0,26.0,28.0,28.0,28.0,28.0,28.0,27.0,26.0,25.0,...,31.0,33.0,37.0,38.0,37.0,36.0,36.0,35.0,35.0,0
5,27.0,27.0,28.0,27.0,26.0,24.0,24.0,23.0,23.0,23.0,...,35.0,36.0,38.0,39.0,40.0,38.0,36.0,35.0,36.0,0
6,24.0,24.0,24.0,25.0,25.0,26.0,25.0,23.0,21.0,21.0,...,37.0,37.0,37.0,37.0,38.0,38.0,36.0,35.0,34.0,0
7,24.0,25.0,25.0,23.0,22.0,22.0,22.0,22.0,22.0,22.0,...,34.0,34.0,37.0,41.0,40.0,40.0,41.0,35.0,31.0,0
8,20.0,21.0,22.0,21.0,21.0,21.0,20.0,20.0,22.0,22.0,...,35.0,34.0,35.0,37.0,35.0,35.0,37.0,35.0,34.0,0
9,20.0,20.0,21.0,20.0,19.0,18.0,18.0,18.0,18.0,19.0,...,32.0,37.0,39.0,36.0,38.0,38.0,35.0,35.0,36.0,0

In [3]:
np.random.seed(0) #use the same random sample each time
class7_lenght = len(df_concat[df_concat['class']==7]) #take the lenght of the smallest class (class7)
indices_class7 = df_concat[df_concat['class']==7].index #take the indices of the class7 images
# random indices class 5
indices_class5 = df_concat[df_concat['class']==5].index #take the indices of the class5 images
random_class5_indices = np.random.choice(indices_class5,class7_lenght, replace=False) #take 240 random indices from class5
# random indices class 4
indices_class4 = df_concat[df_concat['class']==4].index
random_class4_indices = np.random.choice(indices_class4,class7_lenght, replace=False)
# random indices class 8
indices_class8 = df_concat[df_concat['class']==8].index
random_class8_indices = np.random.choice(indices_class8,class7_lenght, replace=False)
# random indices class 1
indices_class1 = df_concat[df_concat['class']==1].index
random_class1_indices = np.random.choice(indices_class1,class7_lenght, replace=False)
# random indices class 0
indices_class0 = df_concat[df_concat['class']==0].index
random_class0_indices = np.random.choice(indices_class0,class7_lenght, replace=False)
# random indices class 3
indices_class3 = df_concat[df_concat['class']==3].index
random_class3_indices = np.random.choice(indices_class3,class7_lenght, replace=False)
# random indices class 6
indices_class6 = df_concat[df_concat['class']==6].index
random_class6_indices = np.random.choice(indices_class6,class7_lenght, replace=False)
# random indices class 2
indices_class2 = df_concat[df_concat['class']==2].index
random_class2_indices = np.random.choice(indices_class2,class7_lenght, replace=False)
# random indices class 9
indices_class9 = df_concat[df_concat['class']==9].index
random_class9_indices = np.random.choice(indices_class9,class7_lenght, replace=False)
#concatinate random indices from all classes to one array
indices_combined = np.concatenate([random_class5_indices,random_class4_indices,random_class8_indices,random_class1_indices, random_class0_indices,random_class3_indices, random_class6_indices,random_class2_indices, random_class9_indices, indices_class7])
len(indices_combined) #random indices array length (10*240)

2400

In [4]:
#find all these random indices from the df_concat dataframe and put them in a new dataframe df_balanced
#now we have a balanced dataframe with 240 images of each class
df_balanced = df_concat.loc[indices_combined]

In [5]:
df_balanced.reset_index(inplace = True) #reset the indices of the new dataframe
dataset_big = df_balanced.drop(['index'],axis=1) #drop the index column from the new dataframe
dataset_big.head(10)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,class
0,174.0,242.0,214.0,115.0,107.0,91.0,48.0,33.0,47.0,128.0,...,81.0,114.0,106.0,82.0,80.0,78.0,76.0,67.0,83.0,5
1,47.0,41.0,28.0,39.0,109.0,226.0,255.0,255.0,255.0,255.0,...,55.0,48.0,33.0,26.0,29.0,19.0,25.0,33.0,25.0,5
2,37.0,36.0,37.0,39.0,42.0,41.0,39.0,37.0,36.0,34.0,...,68.0,46.0,35.0,31.0,29.0,28.0,35.0,46.0,55.0,5
3,26.0,25.0,26.0,30.0,31.0,30.0,30.0,31.0,33.0,33.0,...,53.0,49.0,50.0,85.0,77.0,72.0,39.0,31.0,33.0,5
4,70.0,77.0,72.0,72.0,73.0,75.0,76.0,73.0,79.0,77.0,...,62.0,61.0,67.0,65.0,62.0,58.0,59.0,61.0,63.0,5
5,141.0,140.0,142.0,145.0,179.0,245.0,255.0,255.0,249.0,196.0,...,71.0,74.0,95.0,100.0,70.0,63.0,117.0,123.0,91.0,5
6,36.0,39.0,35.0,34.0,34.0,31.0,30.0,34.0,35.0,32.0,...,28.0,26.0,26.0,27.0,27.0,26.0,25.0,24.0,26.0,5
7,37.0,30.0,32.0,53.0,164.0,203.0,228.0,217.0,148.0,163.0,...,35.0,42.0,36.0,38.0,56.0,84.0,90.0,87.0,73.0,5
8,133.0,133.0,134.0,132.0,130.0,133.0,135.0,135.0,135.0,136.0,...,52.0,58.0,63.0,67.0,68.0,65.0,65.0,89.0,105.0,5
9,55.0,47.0,39.0,48.0,47.0,47.0,47.0,48.0,48.0,49.0,...,44.0,43.0,44.0,44.0,41.0,44.0,44.0,42.0,43.0,5

In [6]:
X = dataset_big.iloc[:,:-1].values #we drop the last value which is the class to create a features dataframe
y = dataset_big.iloc[:,2304].values #we keep only the last value to create a class dataframe

In [7]:
#we split the sample to train and test with an 80-20 analogy
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

In [8]:
# Instantiate model with 100 decision trees
rf = RandomForestClassifier(n_estimators = 10)
# Train the model on training data
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
# Use the forest's predict method on the test data
y_pred_rf = rf.predict(X_test)
y_pred_rf

array([6, 6, 3, 2, 7, 7, 0, 0, 3, 1, 8, 2, 1, 3, 2, 9, 9, 1, 9, 5, 1, 1,
       8, 9, 3, 3, 0, 5, 5, 8, 7, 8, 7, 3, 1, 2, 9, 3, 7, 5, 4, 4, 6, 8,
       8, 4, 2, 4, 1, 3, 4, 2, 1, 1, 4, 2, 6, 1, 5, 5, 3, 9, 5, 1, 8, 9,
       7, 3, 8, 4, 5, 0, 3, 6, 8, 9, 2, 1, 4, 7, 0, 3, 7, 2, 0, 0, 2, 6,
       1, 1, 2, 2, 1, 2, 9, 9, 4, 7, 0, 0, 3, 8, 9, 0, 3, 2, 7, 1, 8, 2,
       7, 3, 1, 6, 6, 9, 5, 8, 2, 0, 6, 2, 5, 8, 7, 7, 6, 3, 5, 1, 4, 4,
       3, 5, 4, 3, 1, 3, 2, 4, 3, 8, 1, 8, 1, 5, 9, 0, 9, 0, 3, 5, 0, 1,
       9, 6, 3, 5, 9, 7, 7, 9, 0, 6, 0, 4, 8, 6, 8, 9, 2, 0, 8, 1, 5, 3,
       9, 5, 5, 6, 6, 5, 6, 3, 3, 3, 8, 2, 0, 9, 0, 0, 7, 6, 4, 4, 1, 0,
       6, 3, 9, 2, 7, 6, 9, 9, 5, 8, 8, 3, 6, 4, 3, 4, 9, 1, 1, 6, 3, 1,
       1, 9, 8, 8, 0, 3, 3, 8, 2, 2, 9, 0, 4, 1, 7, 6, 1, 8, 3, 6, 3, 0,
       5, 1, 1, 0, 5, 8, 8, 4, 6, 9, 6, 3, 2, 5, 2, 0, 5, 4, 9, 6, 4, 8,
       8, 0, 3, 7, 0, 7, 6, 7, 7, 7, 0, 7, 3, 2, 2, 5, 7, 9, 8, 9, 0, 9,
       6, 6, 1, 4, 0, 9, 7, 7, 8, 7, 3, 5, 0, 7, 2, 5, 0, 6, 4, 0, 2, 5,
       0, 5, 7, 1, 4, 6, 5, 3, 6, 5, 6, 5, 1, 4, 2, 0, 8, 7, 6, 7, 9, 5,
       1, 4, 6, 5, 1, 8, 1, 5, 6, 0, 2, 5, 6, 4, 7, 8, 4, 9, 4, 2, 4, 1,
       6, 2, 3, 5, 6, 9, 8, 7, 7, 5, 1, 4, 7, 9, 8, 2, 2, 6, 7, 7, 1, 5,
       5, 4, 0, 9, 2, 8, 3, 8, 6, 0, 6, 0, 0, 0, 2, 5, 4, 1, 2, 4, 9, 4,
       4, 0, 3, 2, 2, 8, 4, 5, 2, 9, 9, 0, 9, 2, 5, 7, 6, 2, 6, 5, 8, 9,
       8, 7, 7, 1, 9, 3, 4, 7, 2, 9, 7, 5, 4, 6, 8, 4, 1, 0, 0, 0, 2, 2,
       9, 0, 0, 7, 7, 1, 0, 1, 4, 1, 4, 0, 5, 9, 6, 8, 4, 2, 8, 6, 1, 7,
       9, 3, 0, 3, 2, 0, 0, 5, 7, 2, 1, 1, 3, 7, 3, 4, 0, 3], dtype=int64)